<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.lmkp.dao.UserMapper">

    <!--select查询语句-->
    <select id="getUserList" resultType="User">
       select * from user
   </select>


<!--    <select id="getUserByID" parameterType="int" resultType="user">-->
<!--    <select id="getUserByID" parameterType="int" resultType="userBean">-->
    <select id="getUserByID" parameterType="int" resultType="User">
    select * from user where id = #{id}
   </select>


    <!-- 对象中的属性，可以直接取出来 -->
    <insert id="addUser" parameterType="User">
        insert into user(id,username,password) values (#{id},#{username},#{password})
    </insert>


    <update id="updateUser" parameterType="User">
        update user set username = #{username},password = #{password} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>
</mapper>